﻿@model IN.Catalog.WebServ.Models.CategoryViewModel

<p>
    To move the category up in the same category tree
    or to another category tree, please select a category in the Category Path.
    To move the category down in the same category tree, please select a category from sibling categories.
</p>

<p>
    <strong>Note.</strong> Please select parent category before modifying category since
    in this version the modifications are lost when you change parent category.
</p>

@{
    var selectedParent = "None";

    if (Model.Category.Parent != null)
    {
        selectedParent = Model.Category.Parent.CategoryName;
    }
}

@Html.ValidationSummary(true, "", new { @class = "text-danger" })
@Html.HiddenFor(model => model.Category.CategoryId)
@Html.HiddenFor(model => model.Category.ParentId, new { @Value = Model.Category.ParentId })

<div class="form-group">
    <label class="control-label col-md-2">Category Path</label>

    <div class="col-md-6">
        <ul class="nav nav-pills nav-stacked my-stack">
            @BuildParentCategoryList(Model.Categories, Model.Category.ParentId)
            <li>@MyHelpers.ShowArrorDown()</li>
        </ul>            
    </div>
</div>

@*<div class="form-group">
    <label class="control-label col-md-2">Selected Parent</label>
    <p class="form-control-static col-md-6">@selectedParent</p>
</div>*@

<div class="form-group">
    @Html.LabelFor(model => model.Category.CategoryName, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-6">
        @Html.EditorFor(model => model.Category.CategoryName, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Category.CategoryName, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    <label class="control-label col-md-2">Siblings</label>

    <div class="col-md-6">
        <ul class="nav nav-pills nav-stacked my-stack">
            @{
                var siblings = Model.Categories.Where(c => c.ParentId == Model.Category.ParentId).ToList();

                foreach (var sibling in siblings)
                {
                    var url = string.Format(Model.UrlTemplate, Model.Category.CategoryId, sibling.CategoryId);
                    <li><a href="@url">@sibling.CategoryName</a></li>
                }
            }
        </ul>
    </div>
</div>

@helper BuildParentCategoryList(IEnumerable<IN.Catalog.Models.Category> categories, int? categoryId = null)
{
    if (categoryId == null)
    {
        categoryId = 0;
    }

    var url = string.Format(Model.UrlTemplate, Model.Category.CategoryId, categoryId);

    if (categoryId == 0)
    {
        <li><a href="@url">Root</a></li>
    }
    else
    {
        var category = categories.Where(c => c.CategoryId == categoryId.Value).First();
        @BuildParentCategoryList(categories, category.ParentId)
        
        <li>
            @MyHelpers.ShowArrorDown()
            <a href="@url">@category.CategoryName</a>
        </li>
    }
}
