﻿@model IN.Catalog.WebServ.Models.CategoryDetailsViewModel

@{
    ViewBag.Title = "Category";
}

<h2>Category</h2>

<p>
    @Html.ActionLink("Back to List", "List")
</p>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Category Path
        </dt>

        <dd>
            @BuildParentCategoryList(Model.Categories, Model.Category.ParentId)
            @MyHelpers.ShowArrorDown()
        </dd>
        
        <dt>
            Category Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.CategoryName)
            @Html.ActionLink("Edit", "Edit", new { id = Model.Category.CategoryId }) |
            @Html.ActionLink("Delete", "Delete", new { id = Model.Category.CategoryId }, new { onclick = "return confirm('The category, all its sub-categories, and all their products if any will be deleted. \\n\\n Continue?');" })
            <br />
            @MyHelpers.ShowArrorDown()
            <br />
            @MyHelpers.ShowHorizontalLine()
        </dd>

        <dt>
            Sub-Categories
        </dt>

        <dd>
            @{
                var siblings = Model.Categories.Where(c => c.ParentId == Model.Category.CategoryId).ToList();

                foreach (var sibling in siblings)
                {
                    <p>
                        @MyHelpers.ShowArrorRight()
                        @sibling.CategoryName
                    </p>
                }
            }

            @MyHelpers.ShowHorizontalLine()
        </dd>

        <dt>
            Products
        </dt>

        <dd>
            <p>
                @MyHelpers.ShowArrorRight()
                @Html.ActionLink("New Product", "Create", "Product", new { id = 0, pid = Model.Category.CategoryId }, null)
            </p>

            @{
                var products = Model.Category.Products;

                foreach (var product in products)
                {
                    <p>
                        @MyHelpers.ShowArrorRight()
                        @product.ProductName
                        @Html.ActionLink("Edit", "Edit", "Product", new { id = product.ProductId, pid = product.CategoryId }, null) |
                        @Html.ActionLink("Delete", "Delete", "Product", new { id = product.ProductId }, new { onclick = "return confirm('Selected product will be deleted. \\n\\n Continue?');" })
                    </p>
                }
            }
        </dd>
    </dl>
</div>

@helper BuildParentCategoryList(IEnumerable<IN.Catalog.Models.Category> categories, int? categoryId = null)
{
    if (categoryId.HasValue)
    {
        var category = categories.Where(c => c.CategoryId == categoryId.Value).First();
        @BuildParentCategoryList(categories, category.ParentId)
        @MyHelpers.ShowArrorDown()
        <p>@category.CategoryName</p>
    }
    else
    {
        <p>Root</p>
    }
}
