﻿@model IEnumerable<IN.Catalog.Models.Category>

@{
    ViewBag.Title = "Categories";
}

<h2>Categories</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table">
    <tr>
        <th>
            Category Name
        </th>
        <th>
            Parent Category
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    var parentName = "";
    int? parentId = null;
    
    var parent = Model.Where(c => c.CategoryId == item.ParentId).FirstOrDefault();

    if (parent != null)
    {
        parentName = parent.CategoryName;
        parentId = parent.CategoryId;
    }
    
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CategoryName)
        </td>
        <td>
            @parentName
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.CategoryId, pid = parentId }) |
            @Html.ActionLink("View/Add Products", "Details", new { id = item.CategoryId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.CategoryId }, new { onclick = "return confirm('The category, all its sub-categories, and all their products if any will be deleted. \\n\\n Continue?');" })
        </td>
    </tr>
}

</table>
