﻿@model IN.Catalog.WebServ.Models.ProductViewModel

<p>
    To move the product up in the same category tree
    or to another category tree, please select a category in the Category Path.
    To move the product down in the same category tree, please select a category from siblig categories.
</p>

<p>
    <strong>Note.</strong> Please select a category before modifying product since 
    in this version the modifications are lost when you change the category.
</p>

@Html.ValidationSummary(true, "", new { @class = "text-danger" })
@Html.HiddenFor(model => model.Product.ProductId)
<input name="Product.CategoryId" type="hidden" value="@Model.SelectedCategoryId">

<div class="form-group">
    <label class="control-label col-md-2">Category Path</label>

    <div class="col-md-6">
        <ul class="nav nav-pills nav-stacked my-stack">
            @BuildParentCategoryList(Model.Categories, Model.SelectedCategoryId)
            <li>@MyHelpers.ShowArrorDown()</li>
        </ul>
        @{
            if (Model.SelectedCategoryId == 0)
            {
                <span class="text-danger field-validation-error" >Please select a category.</span>
            }
        }
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Product.ProductName, "Product Name", htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-6">
        @Html.EditorFor(model => model.Product.ProductName, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Product.ProductName, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Product.Price, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-6">
        @Html.EditorFor(model => model.Product.Price, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Product.Price, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Product.Description, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-6">
        @Html.EditorFor(model => model.Product.Description, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Product.Description, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    <label class="control-label col-md-2">Sibling Categories</label>

    <div class="col-md-6">
        <ul class="nav nav-pills nav-stacked my-stack">
            @{
                int? categoryID = null;

                if (Model.SelectedCategoryId != 0)
                {
                    categoryID = Model.SelectedCategoryId;
                }

                var siblings = Model.Categories.Where(c => c.ParentId == categoryID).ToList();

                foreach (var sibling in siblings)
                {
                    var url = string.Format(Model.UrlTemplate, Model.Product.ProductId, sibling.CategoryId);
                    <li><a href="@url">@sibling.CategoryName</a></li>
                }
            }
        </ul>
    </div>
</div>

@helper BuildParentCategoryList(IEnumerable<IN.Catalog.Models.Category> categories, int? categoryId = null)
{
    if (categoryId == null)
    {
        categoryId = 0;
    }

    var url = string.Format(Model.UrlTemplate, Model.Product.ProductId, categoryId);

    if (categoryId == 0)
    {
        <li><a href="@url">Root</a></li>
    }
    else
    {
        var category = categories.Where(c => c.CategoryId == categoryId.Value).First();
        @BuildParentCategoryList(categories, category.ParentId)
        <li>
            @MyHelpers.ShowArrorDown()
            <a href="@url">@category.CategoryName</a>
        </li>
    }
}