﻿@model IN.Catalog.WebServ.Models.ProductListViewModel

@{
    ViewBag.Title = "Products";
}

<h2>Products</h2>

<p>
    To create a new product, please 
    @Html.ActionLink("select a caregory", "List", "Category") first.
</p>
<table class="table">
    <tr>
        <th>
            Category
        </th>
        <th>
            Product Name
        </th>
        <th>
            Price
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.Products) {
    <tr>
        <td>
            @{
                var category = Model.Categories.Where(c => c.CategoryId == item.CategoryId).FirstOrDefault();
                var categoryName = "None";
    
                if (category != null)
                {
                    categoryName = category.CategoryName;
                }
            }
            @Html.ActionLink(categoryName, "Details", "Category", new { id = item.CategoryId }, null)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", "Product", new { id = item.ProductId, pid = item.CategoryId }, null) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ProductId }, new { onclick = "return confirm('Selected product will be deleted. \\n\\n Continue?');" })
        </td>
    </tr>
}

</table>
