﻿@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<p>
    This is a web application called "Catalog Manager" which allows users to manage
    and maintain an e-commerce product catalog.

    The catalog contains a hierarchy of categories which products can be assigned to.

    A category contains a name, other child categories, and a collection of products.
    A product contains a name, description and price.

    Users are able to create, update, and delete categories
    as well as create, update, and delete products under each category.
</p>
