﻿@{
    ViewBag.Title = "Home";
}

<h3>Hello Dear Visitor!</h3>

<p>
    This website is an implementation of a product catalog manager. 
    It is implemented using <strong>C#</strong>, 
    <a target="_blank" href="http://www.asp.net/mvc"><strong>ASP.Net MVC 5</strong></a>,
    <a target="_blank" href="https://msdn.microsoft.com/en-us/data/ef"><strong>Entity Framework 6</strong></a>,
    <a target="_blank" href="https://msdn.microsoft.com/en-us/library/dn223671(v=pandp.30).aspx"><strong>Unity</strong></a> 
    Dependency Injection Container, 
    <a target="_blank" href="http://getbootstrap.com/"><strong>Bootstrap</strong></a> 
    framework,
    <a target="_blank" href="http://www.w3.org/TR/html5/"><strong></strong><strong>HTML5</strong></a>, 
    <a target="_blank" href="https://developer.mozilla.org/en-US/docs/Web/JavaScript"><strong>JavaScript</strong></a>,
    <a target="_blank" href="http://www.w3.org/Style/CSS/"><strong>CSS3</strong></a>, 
    <a target="_blank" href="https://msdn.microsoft.com/en-us/sqlserver/default"><strong>MS SQL Server</strong></a>,
    and
    <a target="_blank" href="https://www.visualstudio.com/"><strong>Visual Studio 2013</strong></a>.
</p>

<p>    
    The application is hosted on
    <a target="_blank" href="http://azure.microsoft.com/en-us/"><strong>Microsoft Azure</strong></a>.
    I used
    <a target="_blank" href="http://git-scm.com/"><strong>git</strong></a>
    as a version control. I could use
    <a target="_blank" href="https://www.visualstudio.com/en-us/products/what-is-visual-studio-online-vs"><strong>TFS</strong></a>
    instead but with git you can have public repositories such as 
    <a target="_blank" href="https://github.com/"><strong>GitHub</strong></a>
    and
    <a target="_blank" href="https://bitbucket.org/"><strong>Bitbucket</strong></a>.
    I used Bitbucket. 
    Please use View Code and Download links in the menu above to see the code online or download it. 
</p>

<p>
    Please feel free to try the application using Categories and Products links in the menu above.
    While trying, please note how a simple and compact way is used to traverse the category tree to 
    create and move the categories and products between the categories.
</p>

<p>
    A few words about design. I strived to follow <a target="_blank" href="https://en.wikipedia.org/wiki/SOLID_(object-oriented_design)"><strong>SOLID</strong></a>
    (
    <a target="_blank" href="https://en.wikipedia.org/wiki/Single_responsibility_principle">Single Responsibility</a>, 
    <a target="_blank" href="https://en.wikipedia.org/wiki/Open/closed_principle">Open/closed</a>, 
    <a target="_blank" href="https://en.wikipedia.org/wiki/Liskov_substitution_principle">Liskov substitution</a>, 
    <a target="_blank" href="https://en.wikipedia.org/wiki/Liskov_substitution_principle">Interface segregation</a>, 
    <a target="_blank" href="https://en.wikipedia.org/wiki/Dependency_inversion_principle">Dependency inversion</a>
    )
    principles while designing the application. 
    
    Also I used the following layers as depicted on the figure bellow:
    <ol>
        <li><strong>Models</strong> layer to model my data.</li>
        <li><strong>Views</strong> layer to render user interface.</li>
        <li>
            <strong>Controllers</strong> layer to receive HTTP requests, 
            talk to repositoies to get/update models, and to return the response (view) to the browser.
        </li>
        <li>
            <strong>Data Access</strong> layer to talk to the database.
            I used the 
            <a target="_blank" href="https://msdn.microsoft.com/en-us/library/ff649690.aspx">repository</a>
            pattern to separate business logic from data access (Entity Framework) logic.
            So the data access layer can be easily replaced by implementing IRepository interface
            in the case of the decision made to use  
            <a target="_blank" href="https://msdn.microsoft.com/en-us/library/e80y5yhx(v=vs.110).aspx">ADO.Net</a>
            instead of Entity Framework, for example.
        </li>
        <li><strong>Database</strong> (MS SQL Server)</li>
    </ol>

    <div class="row">
        <div class="col-md-6">
            <h4>Catalog Manager Layers</h4>
            <figure>
                <img src="~/Content/Images/CatalogManagerLayers.png" alt="Catalog Manager Layers" width="100%" />
            </figure>
        </div>

        <div class="col-md-6">
            <h4>Class Diagram</h4>
            <figure>
                <img src="~/Content/Images/ClassDiagram1.png" alt="Class Diagram" width="100%" />
            </figure>
        </div>
    </div>
</p>

<p>
    Thank you for visiting my website!
</p>

@*<p>
    <div class="col-md-8">
        <figure>
            <img src="~/Content/Images/XMRadio_CMS_EditProduct.JPG" alt="Class Diagram" width="100%" />
        </figure>
    </div>

</p>*@