﻿@helper ShowArrorDown()
{
    <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
}

@helper ShowArrorRight()
{
    <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
}

@helper ShowHorizontalLine()
{
    <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
    <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
    <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
    <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
    <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
    <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
    <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
    <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
    <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
}