﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

ul.my-stack {
    max-width: 280px;
}

.navbar-inverse {
    background-color: #003B64;
    border-color: #002844;
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: #003B64;
}
.navbar-inverse .navbar-toggle {
    border-color: #002844;
}

.nav-pills > li > a {
  background-color: #F5F7F9;
}

.nav-pills > li > .glyphicon {
    padding-left: 11px;
}
